.gradle/
build/
build-*/
.gradle-*/
.eclipse
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
local.properties

src/generated/resources/.cache/

run/
run-data/
run-gametest/
runs/
logs/
crash-reports/
docs/tools/__pycache__/**

bin/
.classpath
.project
.settings/
.factorypath
.apt_generated/
.metadata/

.idea/
*.iml
*.ipr
*.iws
out/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/eclipse-formatter.xml

nbproject/
nbbuild/
nbdist/
.nb-gradle/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.claude
.github
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

*.log
*.bak
*.tmp
*.orig
*.rej
*~
